<h1>Programar nueva asesor&iacute;a</h1>

<%= render 'form', tutorial_date: @tutorial_date %>

<div class="row" style="margin-top:10px;">
	<div class="col-sm-12">
		<%= link_to 'Volver', tutorial_dates_path, class:'btn btn-outline-info', style:'width:200px;' %>
	</div>
</div>