<style type="text/css">
	body{
		background-color: #eee;
	}
	.fc-toolbar h2 {
	    margin: 0 !important;
	    font-size: 1.8em !important;
	    font-weight: 200 !important;
	}
	.fc th {
	    text-align: right;
	    color: #999;
	    font-size: 13px;
	}
	.fc .fc-button-group>* {
    	float: left;
    	margin: 0 0 0 2px;
    	border-radius: 30px;
	}
	.fc-button {
	    background-color: #9c27b0;
    	color: #fff;
    	border-radius: 30px;
	    padding: 6px 12px;
	    letter-spacing: 0;
	    box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
	    background-image:none;
	    border-color:unset;
	    text-shadow:none;
	    border: none;
	    font-weight: 100 !important;
    	font-size: 14px !important;
	}
	.fc-button:hover{
		box-shadow:0 14px 26px -12px rgba(156,39,176,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(156,39,176,.2)
	}
	.fc-today-button{
		border-radius: 30px !important;
	    font-weight: 100 !important;
    	font-size: 14px !important;
	}
	.fc-icon:after{
	    font-weight: 100 !important;
	    font-size: 16px !important;
	}
	.fc table {
		font-size: 13px;
	}
	.fc-event{
		background-color: #00bcd4;
    	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    	border: none;
    	padding: 1px 1px 1px 1px;
	}
	.fc-state-active{
		box-shadow: unset !important;
	}
	button:focus{
		outline: unset !important;
	}
</style>

<div class="row">
	<div class="col-sm-12">
		<h1>Sistema de tutorias FCQ</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div id='calendar' style="width:95%; margin-left:auto; margin-right:auto; background-color:white; border:0; padding: 10px 10px 10px 10px; border-radius:6px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);"></div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de Tutoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="#" style="border:none; width:95%; height:300px;"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#calendar').fullCalendar({
			locale: 'es',
			header:{
		    	left: 'title',
            	center: 'prev,next today',
            	right: 'month,agendaWeek,agendaDay,listMonth'
			},
			eventLimitText: 'Más...',
			eventTextColor: 'white',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio','Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun','Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
	        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles','Jueves', 'Viernes', 'Sabado'],
	        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
	        allDayText: 'Todo el dia',

			buttonText:{
				today:    'Hoy',
			  	month:    'Mes',
			  	week:     'Semana',
			  	day:      'Dia',
			  	list:     'Lista'
			},
			events: {
	            url: '<%=@url%>',
	            error: function() {
	                alert('error');
	            }
	        },
	        eventClick: function(calEvent, jsEvent, view) {
			    $('#scheduleModal').attr('data-id', calEvent.id);
			    $('#scheduleModal').modal();
			},
			eventRender: function(eventObj, $el) {
		      $el.popover({
		        title: "Información",
		        content: eventObj.title,
		        trigger: 'hover',
		        placement: 'top',
		        container: 'body'
		      });
		    }
		});
	});

	$('#scheduleModal').on('show.bs.modal',function(e){
  		$(this).find('iframe').attr('src','/single_tutorial_date/' + $('#scheduleModal').attr('data-id'));
	})
</script>


